body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(45deg, #F4D03F, #16A085);
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    background: white;
    min-width: 400px;
    min-height: 600px;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 2.5;
    color: #212121;
    font-size: 30px;

}

a:hover {
    background: #B2EBF2;
    border-radius: 10px;
    background: linear-gradient(45deg, #FAD961, #F76B1C);
    color: white;
}