body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondTask {
    display: flex;
    justify-content: center;
}

.by-position {
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
    padding-left: 200px;
}

.position-white-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}


#position-outer-circle {
    position: absolute;
    background-color: darkgray;
    width: 200px;
    height: 200px;
    top: 100px;
    border-radius: 50%;
}

#position-inner-circle {
    width: 80px;
    height: 80px;
    left: 60px;
    top: 60px;
}

#position-top {
    left: 75px;
    top: -25px;
}

#position-top-right {
    right: 0;
    top: 0;
}

#position-right {
    right: -25px;
    top: 75px;
}

#position-bottom-right {
    right: 0;
    bottom: 0;
}

#position-bottom {
    left: 75px;
    bottom: -25px;
}

#position-bottom-left {
    left: 0;
    bottom: 0;
}

#position-left {
    left: -25px;
    top: 75px;
}

#position-top-left {
    left: 0;
    top: 0;
}

.by-transform {
    background-color: white;
    height: 400px;
    width: 400px;
    display: block;
    padding-right: 100px;
}

#transform-outer-circle {
    background-color: darkgray;
    height: 200px;
    width: 200px;
    transform: translate(100px, 100px);
    border-radius: 50%;
}

.transform-white-circle {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#center {
    height: 80px;
    width: 80px;
    transform: translate(60px, 60px);
}

#left-top {
    transform: translate(0px, -80px);
}

#left-middle {
    transform: translate(-25px, -55px);
}

#left-bottom {
    transform: translate(0px, -30px);
}

#center-top {
    transform: translate(75px, -255px);
}

#center-bottom {
    transform: translate(75px, -105px);
}

#right-top {
    transform: translate(150px, -330px);
}

#right-middle {
    transform: translate(175px, -305px);
}

#right-bottom {
    transform: translate(150px, -280px);
}

